body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.float-container {
  padding: 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  background-color: #00539CFF;
}
.nav-item {
  float:left;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 15px;
  color: #EEA47FFF;
  text-decoration:underline; 
}
.nav-item:hover {
  color: rgb(176, 172, 200);
}
.MasterInfo{
  text-align:center;
}
.Background{
  color: black;
  min-height: 100vh;
  background-color: aliceblue !important;
  background-image: url('./Locked.png');
  background-size: cover;
}